argh==0.26.2
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
colorama==0.4.1
docopt==0.6.2
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pathtools==0.1.2
pluggy==0.13.1
py==1.10.0
pylint==2.4.4
pyparsing==2.4.5
pytest==5.3.1
pytest-watch==4.2.0
pywin32==227
PyYAML==5.1.2
six==1.13.0
typed-ast==1.4.0
watchdog==0.9.0
wcwidth==0.1.7
-e git+https://github.com/rdghosal/Weaver.py.git@7fe115befb7fb512804b5bf0f9baeb13db5bf43a#egg=weaver&subdirectory=weaver
wrapt==1.11.2
zipp==0.6.0
